.cael-header
  width 100%
  height 600px
  background rgba(0, 0, 0, 0.80) url('../img/4584.jpg')
  background-attachment fixed
  background-repeat no-repeat
  background-size cover
  background-position center center
  z-index 999
  position relative
#neopraxisNavbar.show
  display block
.cael-title-box
  position absolute
  bottom 170px
  left 70px
.cael-title
  font-size 38px
  letter-spacing 0.6px
.cael-first-section
  width 100%
  background-color #3e2723
  padding-top 60px
  padding-bottom 60px
.aboutus-title
  font-size 24px
  padding-left 40px
  padding-right 40px
.aboutus-line
  width 250px
  height 4px
  border-radius 4px
  background-color #ffffff
.index-aboutus-text-box
  padding-top 50px
  padding-bottom 50px
.aboutus-text
  font-size 16px
  width 800px
  text-align center
.cael-brown-text
  color #3e2723
.aboutus-btn-box
  background-color #3e2723
  border solid 1px #ffffff
  color #ffffff
  border-radius 50px
  padding 5px 40px
  transition: all 0.1s linear
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
.aboutus-btn-box:hover
  color #3e2723
  background-color #ffffff
.uppercase
  text-transform uppercase
.aboutus-btn-text
  font-size 14px
.cael-second-section
  width 100%
  height 600px
  background-color #ffffff
  padding-top 60px
  padding-bottom 60px
.cael-parallax-carousell
  width 100%
  height 600px !important
  position relative
.cael-parallax-carousell-map
  width 100%
  height 400px !important
  position relative
.cael-parallax-carousell.first
  background url('../img/img1.jpg')
  background-attachment inherit
  background-repeat no-repeat
  background-size cover
  background-position center center
.cael-parallax-carousell.second
  background url('../img/img2.jpg')
  background-attachment inherit
  background-repeat no-repeat
  background-size cover
  background-position center center
.cael-parallax-carousell.third
  background url('../img/img3.jpg')
  background-attachment inherit
  background-repeat no-repeat
  background-size cover
  background-position center center
.cael-parallax-carousell.fourth
  background url('../img/img5.jpg')
  background-attachment inherit
  background-repeat no-repeat
  background-size covercontain
  background-position center center
.cael-parallax-carousell-map.first-map
  background url('../img/mapa-1.png')
  background-attachment inherit
  background-repeat no-repeat
  background-size cover
  background-position center center
.cael-parallax-carousell-map.second-map
  background url('../img/mapa-2.png')
  background-attachment inherit
  background-repeat no-repeat
  background-size cover
  background-position center center
.cael-parallax-carousell-map.third-map
  background url('../img/mapa-3.png')
  background-attachment inherit
  background-repeat no-repeat
  background-size cover
  background-position center center
.cael-parallax-carousell-map.fourth-map
  background url('../img/mapa-4.png')
  background-attachment inherit
  background-repeat no-repeat
  background-size cover
  background-position center center
.cael-parallax-carousell-map.fifth-map
  background url('../img/mapa-5.png')
  background-attachment inherit
  background-repeat no-repeat
  background-size cover
  background-position center center
.cael-third-section
  width 100%
  height 600px
.cael-third-section
  width 100%
  height 600px
  position relative
.offices-prev
  position absolute
  left 30px
  z-index +1
  top 50%
  width 30px
  margin-top -15px
.offices-next
  position absolute
  right 30px
  z-index +1
  top 50%
  width 30px
  margin-top -15px
.cael-fourth-section
  width 100%
  height 600px
  background-color #3e2723
  align-items flex-start !important
.index-contact-box
  width 50%
  box-sizing border-box
  padding-top 50px
  padding-left 35px
  padding-right 35px
.contact-line
  width 100px
  height 2px
  background-color #ffffff
  border-radius 2px
.index-contact-title-box
  width 100%
  justify-content space-around
.index-contact-info-box
  padding-top 35px
  width 100%
  justify-content space-around
.address-contact-text
  font-size 13px
  text-align left
.phone-contact-text
  font-size 13px
  text-align right
.index-contact-form
  width 100%
  padding-top 35px
form
  width 100%
.contact-input
  width 90%
  background-color transparent
  border none
  border-bottom solid 2px #ffffff
  padding-top 10px
  box-sizing border-box
  margin-bottom 20px
.contact-input::placeholder
  color #ffffff
.contact-textarea
  width 90%
  background-color transparent
  border none
  border-bottom solid 2px #ffffff
  padding-top 10px
  box-sizing border-box
  margin-bottom 20px
.contact-textarea::placeholder
  color #ffffff
.contact-form-btn
  padding 5px 30px
  background-color transparent
  border solid 1px #ffffff
  letter-spacing 0.6px
  color #ffffff
  font-size 14px
  border-radius 50px
  transition: all 0.1s linear
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
  margin-top 30px
.contact-form-btn:hover
  padding 5px 30px
  background-color #ffffff
  color #3e2723
  border solid 1px #ffffff
  background-color color
  letter-spacing 0.6px
  font-size 14px
  outline none
.contact-form-btn:focus
  padding 5px 30px
  background-color #ffffff
  color #3e2723
  border solid 1px #ffffff
  background-color color
  letter-spacing 0.6px
  font-size 14px
  outline none
.cael-service-text
  width 300px
  text-align center
  padding-top 20px
.cael-service-title
  width 300px
  text-align center
  padding-top 20px
.cael-service-icon
  font-size 100px
.cael-services-box
  width 90%
  justify-content space-around
  align-items flex-start
.quote-btn-box
  background-color #3e2723
  border solid 1px #3e2723
  color #ffffff
  border-radius 50px
  padding 5px 40px
  transition: all 0.1s linear
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
  margin-top 100px
.quote-btn-box:hover
  background-color #5d4037
.carousel-text
  font-size 28px
  width 250px
  position absolute
  bottom 50px
  left 50%
  margin-left -125px
  text-align center
.carousel-text-developments
  font-size 26px
  width 600px
  position absolute
  bottom 50px
  left 50%
  margin-left -300px
  text-align center
.cael-aboutus-parallax
  width 100%
  height 500px
  background rgba(0, 0, 0, 0.80) url('../img/received_10204437068166646.jpeg')
  background-attachment fixed
  background-repeat no-repeat
  background-size cover
  background-position top center
  z-index 0
  border-bottom solid 5px #ef6c00
.cael-aboutus-container
  margin-top -150px
  z-index +1
.cael-aboutus-title
  font-size 26px
  padding-bottom 75px
  letter-spacing 1px
.cael-aboutus-text-box
  padding 75px 80px
  width 800px
  border-radius 3px 3px 0px 0px
  border-top solid 5px #ef6c00
  background-color #ffffff
.cael-aboutus-text
  line-height 35px
  letter-spacing 0.5px
  text-align justify
.cael-aboutus-map-container
  width 60%
  height 400px
.cael-developments-parallax
  margin-top 60px
.cael-developments-order-title
  font-size 18px
  letter-spacing 2px
  color #3e2723
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
.cael-developments-maps
  width 50%
.cael-developments-order-box
  padding 15px 60px
  border-bottom solid 4px #ffffff
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
.cael-developments-order-container
  border-top solid 4px #ef6c00
.cael-developments-order-box.active
  border-bottom solid 4px #ef6c00
.cael-developments-order-box.active .cael-developments-order-title
  color #ef6c00
.cael-developments-order-box:hover
  cursor pointer
  border-bottom solid 4px #ef6c00
.cael-developments-order-box:hover .cael-developments-order-title
  color #ef6c00
.cael-developments-photos
  width 100%
  height 200px
.cael-developments-photos-right
  width 25%
.cael-developments-photos-left
  width 25%
.cael-developments-photos-container
  box-sizing border-box
  display none
.cael-developments-photos-container.active
  box-sizing border-box
  display flex
.cael-quote-container
  padding-top 140px
.cael-quote-title-line
  width 200px
  margin-left 30px
  margin-right 30px
  height 3px
  margin-top 5px
  border-radius 3px
  background-color #3e2723
.cael-quote-form-container
  padding-top 80px
  width 100%
  align-items flex-start
  padding-bottom 80px
.cael-quote-input-box
  width 320px
  box-sizing border-box
.cael-quote-input-label
  font-size 14px
  color #ffffff
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
.cael-quote-input-box
  padding-top 10px
  margin-bottom 20px
.cael-quote-input
  width 100%
  padding 0px 10px 3px 15px
  box-sizing border-box
  border none
  font-size 14px
  color #3e2723
  border-bottom solid 2px #3e2723
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
select.cael-quote-input
  border-radius 0px
  -webkit-appearance none
  background-color #ffffff
input[type=range]
    -webkit-appearance none
    border none
    background transparent
    padding-top 27px
input[type=range]:focus
    -webkit-appearance none
    border none
input[type=range]::-webkit-slider-runnable-track 
    width 136px
    height 2px
    background #3e2723
    border none
    border-radius 3px
    -webkit-transition all 0.1s linear
    -o-transition all 0.1s linear
    -moz-transition all 0.1s linear
input[type=range]::-webkit-slider-thumb 
  -webkit-appearance none
  border none
  height 20px
  width 20px
  border-radius 50%
  background #3e2723
  margin-top -10px
  pointer-events all
  cursor pointer
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
input[type=range]::-webkit-slider-thumb:active
  background #ef6c00
input[type=range]::-webkit-slider-thumb:active + input[type=range]::-webkit-slider-runnable-track
    background #ef6c00
input[type=range]:focus 
  outline none
  
input[type=range]:focus::-webkit-slider-runnable-track 
  background #3e2723
.cael-quote-input.hasValue
  border-bottom solid 2px #ef6c00
.cael-quote-input-label.hasValue
  color #ef6c00
.cael-quote-input::placeholder
  color: #3e2723
.cael-quote-input:focus
  color: #ef6c00
  border-bottom solid 2px #ef6c00
.cael-quote-input:focus::placeholder
  color: #ef6c00
.cael-quote-basic-info-container
  padding-right 10%
.cael-quote-prizes-container
  padding-left 10%
.cael-percentage-text
  font-size 14px
  color #3e2723
.cael-percentage-text.active
  font-size 14px
  color #ef6c00
.cael-percentage-box
  justify-content space-between
  padding-top 15px
.cael-quote-pay-box
  padding-top 20px
.cael-quote-pay-text
  font-size 18px
.cael-orange-text
  color: #ef6c00
.cael-quote-pay-value
  font-size 22px
  font-weight 700
.cael-quote-subtitle-container
  padding-top 50px
.cael-quote-button-box
  padding-top 140px
.cael-quote-button
  padding 15px 90px
  border-radius 40px
  background-color #3e2723
  font-size 14px
  letter-spacing 0.6px
  color #ffffff
  border none
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
.cael-quote-button:hover
  background-color #ef6c00
.cael-quote-button-text
  font-size 14px
  letter-spacing 0.6px
@media (max-width: 768px)
  .cael-title-box
    width 100%
    top 250px
    left 0
    text-align center
  .index-navbar
    display none
  .cael-title
    font-size 30px
  .cael-subtitle
    font-size 22px
  .index-aboutus-text-box
    width 90%
  .aboutus-text
    width 100%
  .index-aboutus-title-box
    flex-direction column
    height 60px
    justify-content space-between
  .aboutus-line
    width 90%
    height 2px
  .cael-services-box
    flex-direction column
    align-items center
  .cael-service-box
    padding-bottom 35px
  .cael-second-section
    height auto
  .quote-btn-box
    margin-top 65px
  .cael-third-section
    height 350px
  .cael-parallax-carousell
    height 350px !important
  .cael-fourth-section
    flex-direction column-reverse
    height auto
  .index-contact-title-box
    flex-direction column
    height 60px
    justify-content space-between
  .contact-line
    width 90%
  .index-contact-info-box
    flex-direction column
  .address-contact-text
    text-align center
  .phone-contact-text
    text-align 
  .map-container
    width 100%
    height 300px
    margin-top 50px
  .address-contact-info-box
    text-align center
    padding-bottom 15px
  .index-contact-box
    width 100%
  .nav li
    width 100%
    text-align center
  #neopraxisNavbar
    display block
  #neopraxis-main-navbar
    margin-right 0px
    margin-top 0px
    display none
  .navbar-brand
    float none
  .fitLogo
    width 50px
    margin auto
    margin-top 10px
  .hamburger
    padding 0px
    display none
  .hamburger:active
    outline none
  .hamburger-box
    width 30px
  .hamburger-inner
    width 30px
    height 3px
    background-color #3e2723
  .hamburger-inner::after
    top -14px !important
    width 30px
    height 3px
    background-color #3e2723
  .hamburger-inner::before
    top -7px !important
    width 30px
    height 3px
    background-color #3e2723
  .neopraxis-navbar
    display block
  #neopraxis-hamburger-menu
    display block !important
    position absolute
    top 15px
    right 15px
  .cael-aboutus-text-box
    width 100%
    padding-left 0px
    padding-right 0px
  .cael-aboutus-title
    text-align center
  .cael-aboutus-text
    width 90%
  .cael-aboutus-map-container
    width 100%
  .site-footer
    flex-direction column
    padding-left 30px
    padding-right 30px
  .address-text
    font-size 12px
  .phone-contact-text
    text-align center
  .center-footer-text
    padding-right 0px
    padding-top 20px
    padding-bottom 20px
  .footer-social-box
    flex-direction row
    width 100px
    justify-content space-between
  .cael-developments-order-title
    font-size 16px
    text-align center
  .carousel-text-developments
    font-size 16px
    width 300px
    margin-left -150px
  .cael-developments-order-box
    width 100%
  .cael-developments-order-container
    flex-direction column
  .cael-developments-photos-container
    flex-direction column
  .cael-developments-photos-left
    width 100%
  .cael-developments-photos-right
    width 100%
  .cael-quote-title
    font-size 20px
  .cael-quote-title-container
    flex-direction column
    height 60px
    justify-content space-between
    width 100%
  .cael-quote-form-container
    flex-direction column
    align-items center
  .cael-quote-prizes-container
    padding-left 0px
  .cael-quote-button-box
    padding-top 40px
  .cael-quote-basic-info-container
    padding-right 0px
    width 90%
  .cael-quote-title-line
    width 90%
  .cael-developments-maps
    width 100%
