{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="cael-developments-section">
    <div class="cael-parallax-carousell first">
      <h1 class="no-margin-text white-text neopraxis-font-montserrat-regular carousel-text-developments uppercase letter-spacing-dot-six">ven y conoce los fraccionamientos que tenemos para ti</h1>
    </div>
    <div class="cael-parallax-carousell second">
      <h1 class="no-margin-text white-text neopraxis-font-montserrat-regular carousel-text-developments uppercase letter-spacing-dot-six">ven y conoce los fraccionamientos que tenemos para ti</h1>
    </div>
    <div class="cael-parallax-carousell third">
      <h1 class="no-margin-text white-text neopraxis-font-montserrat-regular carousel-text-developments uppercase letter-spacing-dot-six">ven y conoce los fraccionamientos que tenemos para ti</h1>
    </div>
    <div class="cael-parallax-carousell third">
      <h1 class="no-margin-text white-text neopraxis-font-montserrat-regular carousel-text-developments uppercase letter-spacing-dot-six">ven y conoce los fraccionamientos que tenemos para ti</h1>
    </div>
    <div class="cael-parallax-carousell fourth">
      <h1 class="no-margin-text white-text neopraxis-font-montserrat-regular carousel-text-developments uppercase letter-spacing-dot-six">ven y conoce los fraccionamientos que tenemos para ti</h1>
    </div>
  </div>
  <div class="cael-developments-order-container neopraxis-flex-row">
    <div class="cael-developments-order-box first active" list="1">
      <h1 class="cael-developments-order-title uppercase neopraxis-font-montserrat-regular">ciruelos</h1>
    </div>
    <div class="cael-developments-order-box first" list="2">
      <h1 class="cael-developments-order-title uppercase neopraxis-font-montserrat-regular">xalpa</h1>
    </div>
    <div class="cael-developments-order-box second" list="3">
      <h1 class="cael-developments-order-title uppercase neopraxis-font-montserrat-regular">ciruelos ii</h1>
    </div>
    <div class="cael-developments-order-box third" list="4">
      <h1 class="cael-developments-order-title uppercase neopraxis-font-montserrat-regular">vista hermosa</h1>
    </div>
    <div class="cael-developments-order-box fourth" list="5">
      <h1 class="cael-developments-order-title uppercase neopraxis-font-montserrat-regular">flor de piedra</h1>
    </div>
  </div>
  <div class="cael-developments-photos-container neopraxis-flex-row" development="2">
    <div class="cael-developments-photos-left neopraxis-flex-column">
      <img src="./img/img2.jpg" class="cael-developments-photos">
      <img src="./img/img3.jpg" class="cael-developments-photos">
    </div>
    <div class="cael-developments-maps">
      <div class="cael-developments maps">
        <div class="cael-parallax-carousell-map first-map">
          <h1 class="no-margin-text white-text neopraxis-font-montserrat-regular carousel-text uppercase letter-spacing-dot-six">xalpa</h1>
        </div>
      </div>
    </div>
    <div class="cael-developments-photos-right neopraxis-flex-column">
      <img src="./img/img4.jpg" class="cael-developments-photos">
      <img src="./img/img5.jpg" class="cael-developments-photos">
    </div>
  </div>
  <div class="cael-developments-photos-container neopraxis-flex-row" development="4">
    <div class="cael-developments-photos-left neopraxis-flex-column">
      <img src="./img/img2.jpg" class="cael-developments-photos">
      <img src="./img/img3.jpg" class="cael-developments-photos">
    </div>
    <div class="cael-developments-maps">
      <div class="cael-developments maps">
        <div class="cael-parallax-carousell-map third-map">
          <h1 class="no-margin-text white-text neopraxis-font-montserrat-regular carousel-text uppercase letter-spacing-dot-six">vista hermosa</h1>
        </div>
      </div>
    </div>
    <div class="cael-developments-photos-right neopraxis-flex-column">
      <img src="./img/img4.jpg" class="cael-developments-photos">
      <img src="./img/img5.jpg" class="cael-developments-photos">
    </div>
  </div>
  <div class="cael-developments-photos-container neopraxis-flex-row" development="5">
    <div class="cael-developments-photos-left neopraxis-flex-column">
      <img src="./img/img2.jpg" class="cael-developments-photos">
      <img src="./img/img3.jpg" class="cael-developments-photos">
    </div>
    <div class="cael-developments-maps">
      <div class="cael-developments maps">
        <div class="cael-parallax-carousell-map fifth-map">
          <h1 class="no-margin-text white-text neopraxis-font-montserrat-regular carousel-text uppercase letter-spacing-dot-six">flor de piedra</h1>
        </div>
      </div>
    </div>
    <div class="cael-developments-photos-right neopraxis-flex-column">
      <img src="./img/img4.jpg" class="cael-developments-photos">
      <img src="./img/img5.jpg" class="cael-developments-photos">
    </div>
  </div>
  <div class="cael-developments-photos-container neopraxis-flex-row active" development="1">
    <div class="cael-developments-photos-left neopraxis-flex-column">
      <img src="./img/img2.jpg" class="cael-developments-photos">
      <img src="./img/img3.jpg" class="cael-developments-photos">
    </div>
    <div class="cael-developments-maps">
      <div class="cael-developments maps">
        <div class="cael-parallax-carousell-map fourth-map">
          <h1 class="no-margin-text white-text neopraxis-font-montserrat-regular carousel-text uppercase letter-spacing-dot-six">ciruelos </h1>
        </div>
      </div>
    </div>
    <div class="cael-developments-photos-right neopraxis-flex-column">
      <img src="./img/img4.jpg" class="cael-developments-photos">
      <img src="./img/img5.jpg" class="cael-developments-photos">
    </div>
  </div>
  <div class="cael-developments-photos-container neopraxis-flex-row " development="3">
    <div class="cael-developments-photos-left neopraxis-flex-column">
      <img src="./img/img2.jpg" class="cael-developments-photos">
      <img src="./img/img3.jpg" class="cael-developments-photos">
    </div>
    <div class="cael-developments-maps">
      <div class="cael-developments maps">
        <div class="cael-parallax-carousell-map second-map">
          <h1 class="no-margin-text white-text neopraxis-font-montserrat-regular carousel-text uppercase letter-spacing-dot-six">ciruelos ii</h1>
        </div>
      </div>
    </div>
    <div class="cael-developments-photos-right neopraxis-flex-column">
      <img src="./img/img4.jpg" class="cael-developments-photos">
      <img src="./img/img5.jpg" class="cael-developments-photos">
    </div>
  </div>
  
{% endblock %}