<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block meta %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon.png">
    <link rel='stylesheet' href='https://cdn.rawgit.com/jonsuh/hamburgers/e8cd462c/dist/hamburgers.css'>
    <title>{% if section != 'index' %}{% block title %}{% endblock %} - {% endif %}{{ projectName }}</title>
  </head>
  <body>
    <div id="page">
      {% include 'partials/navbar.njk' %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer.njk' %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script type="text/javascript">
      {% if section == 'index'%}
        var navbar = document.getElementById("neopraxisNavbar");
        var myScrollFunc = function () {
            var y = window.scrollY;
            if (y >= 420) {
                navbar.classList.add('show');
            } else {
                navbar.classList.remove('show');
            }
        };
        window.addEventListener("scroll", myScrollFunc);
      {%endif%}
      $('.cael-third-section').slick({
        infinite: true,
        nextArrow: '<img class="offices-next cursor-pointer" src="./img/icons/right-arrow-white.png"></img>',
        prevArrow: '<img class="offices-prev cursor-pointer" src="./img/icons/left-arrow-white.png"></img>',
      });
      $('.cael-developments-section').slick({
        infinite: true,
        nextArrow: '<img class="offices-next cursor-pointer" src="./img/icons/right-arrow-white.png"></img>',
        prevArrow: '<img class="offices-prev cursor-pointer" src="./img/icons/left-arrow-white.png"></img>',
        autoplay: true,
        autoplaySpeed: 6000,
      });
      $('#landView').hide();
      $('.cael-quote-input').keyup(function(event) {
        if (this.value) {
          console.log('Si jala');
          $(this).addClass('hasValue');
          $(this).parent().find('.cael-quote-input-label').addClass('hasValue');
        }
        else{
          $(this).removeClass('hasValue');
          $(this).parent().find('.cael-quote-input-label').removeClass('hasValue');
        }
      });
      $('select.cael-quote-input').on('change', function (e) {
        if (this.value) {
          console.log('Si jala');
          $(this).addClass('hasValue');
          $(this).parent().find('.cael-quote-input-label').addClass('hasValue');
        }
        else{
          $(this).removeClass('hasValue');
          $(this).parent().find('.cael-quote-input-label').removeClass('hasValue');
        }
        if (this.value == 1) {
          $('#landFlower').show();
          $('#landView').hide();
          $('.cael-quote-pay-text').text('44 mensualidades de:');
        }
        else if(this.value == 2){
          $('#landFlower').hide();
          $('#landView').show();
          $('.cael-quote-pay-text').text('45 mensualidades de:');
        }
      });
      $('#landFlower').on('change', function (e) {
        if (this.value) {
          console.log('Si jala');
          $(this).addClass('hasValue');
          $(this).parent().find('.cael-quote-input-label').addClass('hasValue');
        }
        else{
          $(this).removeClass('hasValue');
          $(this).parent().find('.cael-quote-input-label').removeClass('hasValue');
        }
        pays();
      });
      $('#landView').on('change', function (e) {
        if (this.value) {
          console.log('Si jala');
          $(this).addClass('hasValue');
          $(this).parent().find('.cael-quote-input-label').addClass('hasValue');
        }
        else{
          $(this).removeClass('hasValue');
          $(this).parent().find('.cael-quote-input-label').removeClass('hasValue');
        }
        pays();
      });
      $('.cael-developments-order-box').on('click', function(event) {
        event.preventDefault();
        /* Act on the event */
        $('.cael-developments-order-box').removeClass('active');
        $(this).addClass('active');
        var development = $(this).attr('list');
        $('.cael-developments-photos-container').each(function(index, el) {
          if($(this).attr('development') == development){
            $('.cael-developments-photos-container').removeClass('active');
            $(this).addClass('active');
          }
        });
      });
      $('#neopraxis-hamburger-menu').on('click', function(event) {
        event.preventDefault();
        /* Act on the event */
        $('#neopraxis-main-navbar').toggle();
      });
      function pays(){
        // body...
        var division = $('#division').val();
        if (division == 1){
          var land = parseInt($('#landFlower').val());
          if (!$('#landFlower').val()){
            var land = 0;
          }
          var percentage = 100 - parseInt($('#percentage').val());
          var pays = (((land * percentage)/ 100) / 44).toFixed(2);
          $('.cael-quote-pay-value').text(pays);
          $('#month').val(pays);
        }
        else if (division == 2){
          var land = $('#landView').val();
          if (!$('#landView').val()){
            var land = 0;
          }
          var percentage = 100 - parseInt($('#percentage').val());
          var pays = (((land * percentage)/ 100) / 45).toFixed(2);
          $('.cael-quote-pay-value').text(pays);
          $('#month').val(pays);
        }
      }
      $('.slider').on('change', function(event) {
        event.preventDefault();
        /* Act on the event */
        console.log(this.value);
        var percentage = this.value;
        $('.cael-percentage-text').each(function(index, el) {
          if($(this).attr('percentage') == percentage){
            $('.cael-percentage-text').removeClass('active');
            $(this).addClass('active');
          }
        });
        pays();
      });
    </script>
    {% block js_inline %}
    {% endblock %}
  </body>
</html>
