<footer class="site-footer neopraxis-flex-row">
  <img src="./img/CaelSinFondo.png" alt="" class="footer-logo">
  <div class="neopraxis-flex-column center-footer-text">
    <p class="white-text address-text neopraxis-font-montserrat-regular letter-spacing-dot-six no-margin-text">Carretera federal Cuautla México-Cuautla S/N, <br>Col. San Francisco Mun: de Atlatlahucan</p>
    <p class="white-text address-text neopraxis-font-montserrat-regular letter-spacing-dot-six no-margin-text">735 102 8235 contacto@caeldesarrollos.com</p>
    <p class="white-text copyright-text neopraxis-font-myriadpro-light letter-spacing-dot-six no-margin-text">Copyright CAEL 2013 All rights reserved</p>
  </div>
  <div class="footer-social-box neopraxis-flex-column">
    <a href="footer-social-link">
      <div class="social-link-box">
        <i class="fa fa-facebook-official white-text" aria-hidden="true"></i>
      </div>
    </a>
    <a href="footer-social-link">
      <div class="social-link-box">
        <i class="fa fa-twitter-square white-text" aria-hidden="true"></i>
      </div>
    </a>
    <a href="footer-social-link">
      <div class="social-link-box">
        <i class="fa fa-instagram white-text" aria-hidden="true"></i>
      </div>
    </a>
    <a href="footer-social-link">
      <div class="social-link-box">
        <i class="fa fa-google-plus-official white-text" aria-hidden="true"></i>
      </div>
    </a>
  </div>
</footer>

